.cardSeperate{
    margin-left:auto !important;
    margin-right:auto !important;
    width:100% !important;
}
.cardBody{
    width:10% !important;
}
.left-button{
    bottom:150px !important;
    font-size:1em !important;
}
a{
    cursor:pointer;
    margin-left:8px;
}
h2{
    font-size:3em;
    position: relative;
    left:30px;
    width:300px;
    color:#616161;
}
.error{
    color:red;
    margin-left: 40px;
    margin-top:10px;
    font-weight: 600;
}