<div class="cardSeperate">
    <div class="cardBody">
        <h2>Poll-io</h2>
        <hr>
        <h1>Login</h1>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">      
            <p for="email">Email</p><input ngModel #email="ngModel" name="email" type="email" (change)="clear()">
            <p for="password">Password</p><input ngModel #password="ngModel" name="password" type="password" (change)="clear()">
            <div class='error'>{{authError}}</div>
            <button class="right-button" type="submit">Login</button>
        </form>
    </div>
</div>