<img *ngIf="env.closed == true" (click)="openNav()" [src]="hamburger" class="hamburger" title="Menu">
<div *ngIf="env.closed == false" class="sidePanel">
  <div class="innerPanelTop">
    <img [src]="closeBar" (click)="closeNav()" class="arrow" title="Close Menu">
    <h2>Poll-io</h2>
  </div>
  <div class="panelinner">
    <ul class="nav linkcon">
      <li><a routerLink="addUser" routerLinkActive="active"><img [src]="addIcon" class="addIconMain">Add User</a></li>
      <li><a routerLink="addPoll" routerLinkActive="active"><img [src]="addIcon" class="addIconMain">Add Poll</a></li>
      <li><a routerLink="viewUser" routerLinkActive="active"><img [src]="addIcon" class="addIconMain">View Users</a></li>
      <li><a routerLink="viewPoll" routerLinkActive="active"><img [src]="addIcon" class="addIconMain">View Poll</a></li>
    </ul>
    <div class="logout" (click)="logout()">
      <h4>Logout</h4>
    </div>
</div>