
.sidePanel{
        max-width:280px;
        min-width:200px;
        background-color:#ffffff;
        width:100%;
        height:100vh;
        position:fixed;
        left:0;
        z-index:999;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        .panelinner{
                margin-top:40px;
        }
        
        ul{
                list-style-type: none;
                padding:0px;
        }

        .linkcon li{
                width:100%;
                height:60px;
                line-height:40px;
                cursor:pointer;
                a{
                        color:#616161;
                        font-size:1.5em;
                        text-decoration:none;
                        height:60px;
                }
                .addIconMain{
                        margin-left:5px;
                        margin-right:10px;
                        height:38px;
                        width:38px;
                        float:left;
                        color:#616161;
                }
        }
        .active{
                background-color:#F7F7F7;
        }
        .linkcon li:hover{
                height:60px;
                background-color:#F7F7F7;
        }
}
.innerPanelTop{
        width:100%;
        height:140px;
        background-color:#616161;
        box-shadow: 0 4px 4px rgba(0,0,0,0.19);
}
h2{
        position: absolute;
        color:#ffffff;
        left:30px;
        top:30px;
        font-size:3em;
}
.logout{
        position: absolute;
        width: 100%;
        height:60px;
        background-color:#F7F7F7;
        bottom:0;
        left:0;
        cursor:pointer;

        h4{
                margin-left:36%;
                margin-top:20px;
                font-size:1.4em;
                color:#616161;
        }
}
.logout:hover{
        background-color:rgb(233, 233, 233);
}
.hamburger{
        position: absolute;
        left:20px;
        top:20px;
        cursor: pointer;
}
.arrow{
        position: absolute;
        right:5px;
        top:5px;
        cursor: pointer;
}