<h1>Add User</h1>
<div class="content">
    <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
        <p class="required">First Name</p><input type="text" name="forename" [(ngModel)]="forename" required>
        <p class="required">Surname</p><input type="text" name="surname" [(ngModel)]="surname" required>
        <p class="required">Email</p><input type="email" name="email" [(ngModel)]="email" required>
        <p class="required">Password</p><input type="password" name="password" [(ngModel)]="password" required>
        <p>Admin</p><input class="checkbox" type="checkbox" name="isAdmin" value="1" [(ngModel)]="isAdmin">
        <button class="left-button" type="reset" (click)="clear()">Clear</button>
        <p *ngIf="error == true" class="auError">Missing Required Fields</p>
        <p class="auError">{{ authError?.message }}</p>
        <button class="right-button" type="submit">Create User</button>
    </form>
</div>