<h1>View Users</h1>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Admin?</th>
            </tr>
        </thead>
        <tbody>
            <tr class="quChoice" *ngFor="let user of users.reverse(); let i = index;">
                <td><div class="ellip userView">{{user.email}}</div></td>
                <td><div class="ellip userView">{{user.forename}}</div></td>
                <td><div class="ellip userView">{{user.surname}}</div></td>
                <td><div class="ellip userView">{{isAdmin(i)}}</div></td>
            </tr>    
        </tbody>
    </table>