<div *ngIf="confirmPage == false && resultsPage == false">
<div *ngIf="questPati() == true">
    <h1>View Poll</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Patient No</th>
                <th>Total Vote</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tableChoice" *ngFor="let poll of polls.slice().reverse(); let i = index" (click)="chosenQuestion = poll.QuestionID; retrieveQuestion()">
                <td>{{poll.QuestionID}}</td>
                <td><div class="ellip userPoll">{{poll.QuestionTitle}}</div></td>
                <td><div class="ellip userPollno">{{poll.PatientNHSNo}}</div></td>
                <td>{{voteCount(poll.QuestionID)}}</td>
                <td>{{isClosed(poll.QuestionID)}}</td>
            </tr>    
        </tbody>
    </table>
</div>

<div *ngIf="chosenQuestion != 0 && chosenPatient == 0 && live == false">
    <h1>Question: {{pollByID.QuestionID}}</h1>
    <a class="topright-button" *ngIf="results == false" (click)="liveReponse()">Live Response</a>
    <div class="pollPage">
        <h3>Question Title</h3>
        <p class="queTitle">{{pollByID.QuestionTitle}}</p>
        <h3>Patient NHS No</h3>
        <p><a (click)="chosenPatient = pollByID.PatientNHSNo; getPatientByID()">
            {{pollByID.PatientNHSNo}}</a></p>
        <h3>Case Details</h3>
        <p class="casedetails">{{pollByID.CaseDetails}}</p>
    </div>
    <a class="left-button" (click)="backPressed()">Back</a>
    <a class="right-button" *ngIf="results == false" (click)="isConfirmPage()">Close Poll</a>
    <a class="right-button" *ngIf="results == true" (click)="getResults()">Results</a>
</div>

<div *ngIf="live == true">
    <h1>Live Response</h1>
    <div class="pollPage live">
        <h3>Resonse 1</h3><p>{{pollByID.Response1}} : {{pollByID.R1VoteCount}}</p>
        <h3>Resonse 2</h3><p>{{pollByID.Response2}} : {{pollByID.R2VoteCount}}</p>
        <div *ngIf="response3 == true"><h3>Resonse 3</h3><p>{{pollByID.Response3}} : {{pollByID.R3VoteCount}}</p></div>
        <div *ngIf="response4 == true"><h3>Resonse 4</h3><p>{{pollByID.Response4}} : {{pollByID.R4VoteCount}}</p></div>
        <a class="left-button" (click)="liveBack()">Back</a>
        <a class="right-button" (click)="retrieveQuestion()">Refresh Votes</a>
    </div>
</div>

<div  *ngIf="chosenPatient != 0">
    <h1>Patient</h1>
    <div class="patientPage">
        <h3>NHS Id Number</h3>
        <p>{{patient[0].PatientNHSNum}}</p>
        <h3>Patient First Name</h3>
        <p>{{patient[0].PatientFName}}</p>
        <h3>Patient Surname</h3>
        <p>{{patient[0].PatientSName}}</p>
        <h3>Gender</h3>
        <p>{{patient[0].PatientGender}}</p>
        <h3>Age</h3>
        <p>{{patient[0].PatientAge}}</p>
    </div>
    <a class="left-button" (click)="backPatient()">Back</a>
</div>
</div>

<div *ngIf="confirmPage == true">
    <div class="confirmPage">
    <h1>Are you sure?</h1>
    <p>Once closed you cannot accept anymore reponses</p>
    </div>
    <a class="left-button" (click)="notConfirmPage()">No</a>
    <a class="right-button" (click)="closePoll()">Yes</a>
</div>

<div *ngIf="resultsPage == true">
    <h1>Results</h1>
    <div style="width: 100%">
            <canvas ngChartjs [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType"
            [inlinePlugins]="inlinePlugin">
  </canvas>
    </div>
    <a class="left-button" (click)="notConfirmPage()">Back</a>
</div>

<script src="node_modules/chart.js/src/chart.js"></script>