.patientPage, .pollPage{
    margin-top:40px;
    p{
        margin-left:33px;
        width:40%;
        height:25px;
        border:none;
        border-bottom:2px #40AFA5 solid;
    }
    h3{
        margin-left:33px;
    }
    .casedetails{
        height:auto !important;
        max-height:170px !important;
        width:90% !important;
        border:2px #40AFA5 solid !important;
        padding:5px !important;
        overflow-y:auto !important;
    }
    .queTitle{
        width:90% !important;
    }
    a{
        text-decoration: none;
    }
}
.confirmPage{
    margin-top:200px;
    h1{
        font-size:3em;
        width:90%;
        text-align:center;
    }
    p{
        font-size:1em;
        width:88%;
        text-align:center;
    }
}
.right-button{
    color:red !important;
}
.userPoll{
    width:200px !important;
}
.userPollno{
    width:100px !important;
}
.response{
    display:inline-block;
}
.topright-button{
    position: absolute;
    right:40px;
    top:40px;
    cursor:pointer;
    text-decoration: none;
    font-size:1.5em;
    font-weight:600;
    color:#40AFA5;
}
.live{
    p{
        width:90% !important;
    }
}