 <h1>Add Poll</h1>

        <div class="content">
            <form novalidate #pollForm="ngForm" (ngSubmit)="createPoll()">
                <!--Step 1-->
                <div [hidden]="getStep() != 1">
                <p class="required">NHS Id Number</p><input *ngIf="exists == false" type="number" name="NHSNum" [(ngModel)]="patientModel.NHSNum" required><img *ngIf="exists == false" [src]="search" (click)="nhsNumSearch()" class="search">
                                                     <input class="readonly" [readonly]="true" *ngIf="exists == true" name="NHSNum" [(ngModel)]="patientModel.NHSNum"><img *ngIf="exists == true" [src]="reverse" (click)="revSearch()" class="rev">
                <p class="required space">Patient First Name</p><input *ngIf="exists == false"  type="text" name="Forename" [(ngModel)]="patientModel.Forename" required>
                                                          <h3 *ngIf="exists == true">{{patientModel.Forename}}</h3>
                <p class="required">Patient Surname</p><input input *ngIf="exists == false"  type="text" name="Surname" [(ngModel)]="patientModel.Surname" required>
                                                       <h3 *ngIf="exists == true">{{patientModel.Surname}}</h3>
                <p class="required">Gender</p>
                <select input *ngIf="exists == false"  name="Gender" [(ngModel)]="patientModel.Gender" required>
                    <option value="" hidden></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <h3 *ngIf="exists == true">{{patientModel.Gender}}</h3>
                <p class="required">Age</p><input input *ngIf="exists == false" type="number" name="Age" [(ngModel)]="patientModel.Age" required>
                                           <h3 *ngIf="exists == true">{{patientModel.Age}}</h3>
                <!--<div class="rightColumn"><p>Extra Information</p><textarea type="text" name="extraInfo" [(ngModel)]="patientModel.extraInfo"></textarea></div>!-->
                <button  *ngIf="exists == false" class="left-button" type="reset" (click)="error = false">Clear</button>
                <button  *ngIf="exists == true" class="left-button" (click)="revSearch()">Clear</button>
                <p *ngIf='error == true' class='auError'>Missing Required Fields</p>
                <a class="right-button" (click)="nextPressed()">Next</a>
                </div>
                <!--Step 2-->
                <div [hidden]="getStep() != 2">
                <p class="required">Question Category</p><input type="text" name="QuestionTitle" [(ngModel)]="pollModel.QuestionTitle" required>
                <p>Question Password</p><input type="password" name="Password" [(ngModel)]="pollModel.Password">
                <p class="required">Question Details</p><textarea type="text" name="CaseDetails" [(ngModel)]="pollModel.CaseDetails"></textarea>
                <div class="answerContainer">
                        <p class="required">Response 1</p><input type="text" name="Response1" [(ngModel)]="pollModel.Response1" required/>
                        <p class="required">Response 2</p><input type="text" name="Response2" [(ngModel)]="pollModel.Response2" required/>
                        <div *ngIf="responseCount >= 1"><p>Response 3</p><input type="text" name="Response3" [(ngModel)]="pollModel.Response3"/><img [src]="trash" (click)="remove(anCount)" class="trashIcon"></div>
                        <div *ngIf="responseCount == 2"><p>Response 4</p><input type="text" name="Response4" [(ngModel)]="pollModel.Response4"/><img [src]="trash" (click)="remove(anCount)" class="trashIcon"></div>
                        <a class="addAnswer" *ngIf="stopAdd() == false" (click)="add()">Add Answer</a>
                        <p *ngIf="stopAdd() == true"></p>
                </div>
                <a class="left-button" (click)="backPressed()">Back</a>
                <p *ngIf='error == true' class='auError'>Missing Required Fields</p>
                <button class="right-button" (click)="validate()">Submit</button>
                </div>
            </form>
        </div>