.rightColumn{
    position: absolute;
    top:64px;
    right:60px;
    input{
        width:250px !important;
    }
    p{
        margin-left:0px !important;
        margin-top:48px !important;
    }
}
a{
    padding-right:8px;
    padding-left:8px;
    cursor:pointer;
}
.addAnswer{
    position: absolute;
    left:32px;
    border: none;
    background-color:#ffffff;
    outline-width:0;
    font-size:1.15em;
    color:#40AFA5;
    text-decoration: none !important;
}
.addAnswer:hover{
    color:#2e857c;
    text-decoration: none !important;
}
.answerContainer{
    position: absolute;
    top:99px;
    right:10px;
    width:100%;
    max-width:351px;
    min-width:100px;
    height:360px;
    overflow:auto;
    p{
        margin-top:10px;
    }
    input{
        width:80% !important;
    }
    a{
        position: relative;
        bottom:-10px;
    }
}
.trashIcon{
    cursor:pointer;
    width:18px;
    height:18px;
    margin-left:12px;
    margin-bottom:-15px;
}
textarea{
    width:100%;
    max-width:281px;
    min-width:100px;
    margin-left:40px;
    margin-top:5px;
    height:96px;
    border:2px #40AFA5 solid;
    resize: none;
}
textarea:focus{
    outline: 0;
}
.search{
    cursor: pointer;
}
h3{
    margin-left:40px;
    margin-top:0px;
    width:40%;
    padding-top:9px;
    padding-bottom:9px;
    border:none;
    border-bottom:2px #40AFA5 solid;
    background-color:#F7F7F7;
    color:#616161;
}
.rev{
    cursor:pointer;
}
.readonly{
    background-color:#F7F7F7;
    color:#616161 !important;
}