.cardBody{
    width:100%;
    min-width:500px;
    max-width:700px;
    height:100%;
    min-height:500px;
    max-height:500px;
    background-color:#ffffff;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    margin-top:10vh;
    border-radius:4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-animation-name: startanimation;
    -webkit-animation-duration: 0.4s;
    animation-name: startanimation;
    animation-duration: 0.4s;
    overflow:auto;
}
@-webkit-keyframes startanimation {
    from {top:-100vh; opacity:0;} 
    to {top:0vh; opacity:1;}
}

@keyframes startanimation {
    from {top:-100vh; opacity:0;}
    to {top:0vh; opacity:1;}
}
.cardSeperate{
    width:80%;
    height:100%;
    float:right;
}