<div *ngIf="env.closed == false" class="cardSeperate">
    <div class="cardBody">
            <home  *ngIf="isHome()"></home>
            <addUser  *ngIf="isAddUser()"></addUser>
            <addPoll  *ngIf="isAddPoll()"></addPoll>
            <viewPoll *ngIf="isViewPoll()"></viewPoll>
            <viewUser *ngIf="isViewUser()"></viewUser>
            <success *ngIf="isSuccess()"></success>
            <error *ngIf="isError() || wrongPath()"></error>
    </div>
</div>

<div *ngIf="env.closed == true" class="cardBody">
        <home  *ngIf="isHome()"></home>
        <addUser  *ngIf="isAddUser()"></addUser>
        <addPoll  *ngIf="isAddPoll()"></addPoll>
        <viewPoll *ngIf="isViewPoll()"></viewPoll>
        <viewUser *ngIf="isViewUser()"></viewUser>
        <success *ngIf="isSuccess()"></success>
        <error *ngIf="isError() || wrongPath()"></error>
</div>