/* You can add global styles to this file, and also import other style files */
body{
    background-color:#F7F7F7;
    margin: 0px;
    padding: 0px;
}
input{
    margin-left:40px;
    width:40%;
    height:35px;
    border:none;
    border-bottom:2px #40AFA5 solid;
}
input:focus{
    outline-width:0;
}
select{
    margin-left:40px;
    width:40%;
    height:35px;
    border:none;
    border-bottom:2px #40AFA5 solid;
}
select:focus{
    outline-width:0;
}
h1{
    color:#616161;
    position: relative;
    left:32px;
    top:10px;
    width:300px;
}
p{
    color:#616161;
    margin-left:40px;
    margin-bottom:0px;
    margin-top:10px;
}
p:first-child{
    margin-top:50px;
}
.left-button{
    position: absolute;
    left:32px;
    bottom:20px;
    border: none;
    background-color:#ffffff;
    outline-width:0;
    font-size:1.5em;
    color:#40AFA5;
    text-decoration: none !important;
}
.left-button:hover{
    color:#2e857c;
    text-decoration: none !important;
}
.right-button{
    position: absolute;
    right:40px;
    bottom:20px;
    border: none;
    background-color:#ffffff;
    outline-width:0;
    font-size:1.5em;
    color:#40AFA5;
    text-decoration: none !important;
}
.right-button:hover{
    color:#2e857c;
    text-decoration: none !important;
}
.required:after{
    content:"*";
    color:red;
    padding:4px;
}
table{
    width:100%;
    margin-top:60px;
}
thead{
    border-top:2px solid #40AFA5;
    border-bottom:2px solid #40AFA5;
}
tbody{
    border-bottom:2px solid #40AFA5;
}
th, td{
    padding-left:40px;
}
th:last-child, td:last-child{
    padding-right:40px;
}
td{
    padding-top:10px;
}
.ellip{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a{
    cursor: pointer;
    text-decoration:none;
}
h3{
    color:#616161;
    font-size:1em;
}
.tableChoice{
    padding-bottom:20px !important;
}
.tableChoice:hover{
    cursor:pointer;
    background-color:#F7F7F7;
}
.requiredError{
    color:red;
    position: absolute;
    left:25%;
    bottom:20px;
    font-size:1.5em;
    font-weight:600;
}
.auError{
    color:red;
    left:30%;
    line-height: 0px;
    font-size:1em;
    font-weight:600;
}